* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #f0ecec;
  --secondary-color: #000;
  --tertiary-color: #fff;
  --hover-color: rgb(63, 63, 63);
}
.dark-theme {
  --primary-color: #1a202c;
  --secondary-color: rgb(214, 214, 214);
  --tertiary-color: #2d3748;
  --hover-color: #9b9898;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
}
.back-to-top-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
}

header {
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  background-color: var(--primary-color);
  transition: all 0.2s;
}
.logo--header {
  height: 100px;
}
.header__icon > i,
.header__icon a {
  font-size: 24px;
  margin-top: 30px;
  margin-right: 20px;
  padding: 8px;
  border-radius: 8px;
  color: var(--secondary-color);
  transition: all 0.2s;
}
.header__icon > i:hover,
.header__icon a:hover {
  background-color: rgb(119, 119, 119);
  transition: all 0.2s;
  cursor: pointer;
}
#intro {
  background-color: var(--primary-color);
  height: calc(100vh - 100px);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
#intro p {
  color: var(--secondary-color);
  max-width: 60%;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.start-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px 30px;
  margin-top: 30px;
  animation-name: MoveInBottom;
  animation-fill-mode: backwards;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes MoveInBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#content {
  height: 80vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-box {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
  background-color: var(--tertiary-color);
  border-radius: 5px;
  box-shadow: rgb(119, 119, 119, 0.1) 4px 4px 4px;
}
.input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input {
  width: 100%;
  margin-bottom: 20px;
  color: var(--secondary-color);
  border-radius: 5px;
  border: rgb(201, 200, 200) 1px solid;
  background-color: var(--tertiary-color);
  padding: 12px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  transition: all 0.2s;
}
.input:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}
.from-to-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.input--from-to {
  width: 48%;
}
textarea {
  resize: none;
}
label {
  color: var(--secondary-color);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  display: block;
  width: 100%;
  margin-bottom: 4px;
}
label a {
  font-size: 16px;
  font-weight: 600;
  color: rgb(252, 71, 47);
}
.btn-box {
  width: 100%;
}
.content__btn {
  outline: none;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
}
.footer {
  height: 10vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  transition: all 0.2s;
}
.footer p a {
  text-decoration: underline;
}
.logo--footer {
  height: 60px;
}
@media screen and (min-width: 1025px) {
  .btn-effect:hover {
    background-color: var(--hover-color);
    transition: all 0.2s;
    cursor: pointer;
  }
  .btn-effect:active {
    transform: translateY(2px);
  }
}
@media screen and (max-width: 1024px) {
  .content-box {
    width: 90%;
  }
  .content__form {
    width: 100%;
  }
  #content {
    align-items: center;
    justify-content: center;
  }
  #intro p {
    font-size: 24px;
  }
  .btn-effect:active {
    transform: scale(0.99);
    transition: all 0.1s;
  }
  .footer {
    justify-content: center;
  }
  .footer p {
    font-size: 12px;
  }
}
